
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-export:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */